/* common.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit; /* 부모와 똑같다 상속 되었다! */
}
ul{
    list-style: none;
}
html, body{
    height: 100%;
}
body{
    color: #666;
    /* font-family: 'Belleza', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.8em;
    font-size: 100%;
}
h1, h2, h3, h4 {
    margin-bottom: 20px;
}
h2 { font-size: 32px;}
ins{ text-decoration: none;}
button { 
  background: none;
  border: none;
  outline: none;
}

section{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 헤더 */
#main_header{
    position: absolute;
    color: #fff;
    width: 100%;
}
#title{
    height: 100%;
    background-image: url("../images/title-bg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-bottom: 50px;
}
#title .title{
    /* outline: 1px solid red; */
    position: absolute;
    left: 50%; top: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#title .title > h2{
    font-size: 100px;
    margin-bottom: 55px;
}
#event .tile > h2{
    font-size: 32px;
    margin-bottom: 20px;
}
#title .title > p{
    font-size: 25px;
    margin-bottom: 90px;
    letter-spacing: 1px;
}
#event .title > p{
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.cta{
    width: 140px; height: 50px;
    background: #222;
    border: 1px solid rgba(255,255,255,0.7);
    font-size: 16px;
    display: inline-block;
    line-height: 47px;
    border-radius: 4px;
}
.cta:hover{
    background: rgba(255,255,255,0.2);
}
#brand{
    /* 소개글 좌우 여백을 두어 집중하게 배치 */
    padding-left: 10%;
    padding-right: 10%;
}

/* 이벤트 섹션 */
#event{
    position: relative;
    height: 400px;
    background: #ccc;
    background-image: url("../images/event.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#event .title{
    width: 70%;
    /* outline: 1px solid red; */
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

/* 뉴스섹션 */
#news article{
    height: 300px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    display: flex;/* flex layer설정 */
}
#news article{
    align-items: center;/* 수직 중앙 정렬 */
    justify-content: center;/* 수평 중앙 정렬 */
}
#news article h2{
    /* outline: 1px solid red; */
}
#news article:first-child{
    background-image: url("../images/news.png");
    background-size: cover;
    background-position: center;
}
#news article:last-child{
    background-image: url("../images/news2.png");
    background-size: cover;
    background-position: center;
}

/* bx slider 테두리 제거 */
.bx-wrapper{
    border: none !important;
    box-shadow: none !important;
  }
